{% extends 'base.html' %}
{% block content %}
<div class="jumbotron md index-header jumbotron_set jumbotron-cover">
    <div class="container wrap-jumbotron position-relative">
        <h1 class="title-site" style="visibility:hidden;">Placeholder</h1>
    </div>
</div>
<div class="container text-center padding-top-40 padding-bottom-40">
  <h2>🎉 Thank you for your donation!</h2>
  <p>We have received your contribution.</p>
  <a class="btn btn-main" href="/">Back to Home</a>
</div>
{% endblock %}
